@page {margin: 0;}
body {margin: 10px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 14px;}
h1 {font-family: serif; font-weight: bold; font-size: 24px; color: #3300cc;}
h2 {font-family: serif; font-size: 20px;}
h3 {font-family: serif; font-style: italic; font-size: 18px;}
table {border: 0; cellspacing: 20; cellpadding: 5; float: left;}